
@font-face {
    font-family: 'sf_slapstick_comicbold';
    src: url('../fonts/sf_slapstick_comic_bold-webfont.woff2') format('woff2'),
         url('../fonts/sf_slapstick_comic_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_slapstick_comicregular';
    src: url('../fonts/sf_slapstick_comic-webfont.woff2') format('woff2'),
         url('../fonts/sf_slapstick_comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dimboregular';
    src: url('../fonts/dimbo_regular-webfont.woff2') format('woff2'),
         url('../fonts/dimbo_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'alphakindregular';
  src: url('../fonts/alphakind-webfont.woff2') format('woff2'),
       url('../fonts/alphakind-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



:root {
  --yellow: #f6ed12;
  --white: #ffffff;
  --blackish: #212529;
}

/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    background-color:rgba(0, 0, 0, .02);

}
body {
    padding-top: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    /*
    background-image: url('../img/festival_fondo.jpg');
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    */
}

.flipdown.flipdown__theme-dark{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
}
.alphakind{
  font-family: 'alphakindregular';
}
.font-black-border{
  text-shadow: rgb(0, 0, 0) 4px 0px 0px, rgb(0, 0, 0) 3.87565px 0.989616px 0px, rgb(0, 0, 0) 3.51033px 1.9177px 0px, rgb(0, 0, 0) 2.92676px 2.72656px 0px, rgb(0, 0, 0) 2.16121px 3.36588px 0px, rgb(0, 0, 0) 1.26129px 3.79594px 0px, rgb(0, 0, 0) 0.282949px 3.98998px 0px, rgb(0, 0, 0) -0.712984px 3.93594px 0px, rgb(0, 0, 0) -1.66459px 3.63719px 0px, rgb(0, 0, 0) -2.51269px 3.11229px 0px, rgb(0, 0, 0) -3.20457px 2.39389px 0px, rgb(0, 0, 0) -3.69721px 1.52664px 0px, rgb(0, 0, 0) -3.95997px 0.56448px 0px, rgb(0, 0, 0) -3.97652px -0.432781px 0px, rgb(0, 0, 0) -3.74583px -1.40313px 0px, rgb(0, 0, 0) -3.28224px -2.28625px 0px, rgb(0, 0, 0) -2.61457px -3.02721px 0px, rgb(0, 0, 0) -1.78435px -3.57996px 0px, rgb(0, 0, 0) -0.843183px -3.91012px 0px, rgb(0, 0, 0) 0.150409px -3.99717px 0px, rgb(0, 0, 0) 1.13465px -3.8357px 0px, rgb(0, 0, 0) 2.04834px -3.43574px 0px, rgb(0, 0, 0) 2.83468px -2.82216px 0px, rgb(0, 0, 0) 3.44477px -2.03312px 0px, rgb(0, 0, 0) 3.84068px -1.11766px 0px, rgb(0, 0, 0) 3.9978px -0.132717px 0px;
}
.btn{
  font-size: 1.1rem;
}
footer {
    padding: 30px 0;
}
h1,h2,h3{
  font-family: 'dimboregular';
}
a{
  color: #df0009 !important;
}
a:hover, a:link, a:active{
  text-decoration: none;
}
.navbar{
  background-color: white;
}
.errors ul{
  list-style:none;
  margin:0;
}

.container-fluid{
  width: 100% !important;
  max-width: 1500px;
}
#aboutus{
  padding: 0 0 0 0;
}

#programacion{
  padding: 5rem 0 5rem 0;
  background-color: #f4e700;
  margin-top: 5rem;
}
#invitados{
  padding: 5rem 0 8rem 0;
}
#internacionales{
  padding: 2rem 0 3rem 0;
}
#actividades{
  padding: 5rem 0 0 0;
}
#homenajeados{
  padding: 2rem 0 0 0;
}
#auspicio{
  padding: 5rem 0 5rem 0;
}
.logos_top{
  position: absolute;
  font-weight: bold;
  color: #df0009 !important;
  margin-top: -310px;
}
.logos_top_2{
  position: absolute;
  top: -30px;
  font-weight: bold;
  color: #df0009;
}
.text-bolder{
  font-weight: 800;
}
#concurso{
  padding: 4rem 0 3rem 0;
  /*background-color: rgba(246, 237, 19, 1);*/
  background-image: url('../img/background_concurso.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
#stands{
  padding: 4rem 0 0 0;
  /*
  background-image: url('../img/background_stands2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-top: 4px solid black;
  border-bottom: 4px solid black;
  */
}
.stand_container, .card_container{
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 40px;
  height: 40px;
}
.carousel-control-next-icon{
  background-image: url('../img/sliders/chevron-right-solid.svg') !important;
}
.carousel-control-prev-icon{
  background-image: url('../img/sliders/chevron-left-solid.svg') !important;
}

#carousel_cards .carousel-control-prev,
#carousel_cards .carousel-control-next{
  bottom: inherit;
  opacity: 1;
}
#carousel_cards .carousel-control-next .carousel-control-next-icon,
#carousel_cards .carousel-control-prev .carousel-control-prev-icon{
  width: 60px !important;
  height: 60px !important;
}
#newsletter{
  background-color: rgba(246, 237, 19, 1);
}
#modal_suscripcion .modal-dialog .modal-content .modal-footer{
  border:0;
}
#modal_suscripcion .modal-dialog .modal-content .modal-header{
  background: #df0009;
  color: white;
  border: 0;
}
#modal_suscripcion .modal-dialog .modal-content .modal-body .row .col-md-5{
  font-size: 6.3rem;
  color: #df0009;
}

.icon_back{
  position: relative;
}
.icon_back i{
  position: absolute;
  font-size: 21rem;
  transform: rotate(30deg);
  overflow: hidden;
  z-index: 0;
  right: 0;
  top: -28px;
  opacity: 0.1;
}

.btn_live{
  border-radius: 100px;
  font-size: 2.4rem;
  font-family: 'dimboregular';
}
.icons_live{
  font-size: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.popup-youtube_1, .popup-youtube_2{
    width: inherit;
}

.trabajando{
  text-align: center;
background-color: #df0009 !important;
color: white;
padding: 10px;
}

.bottom_prog{
  font-family: 'dimboregular';
  letter-spacing: 1px;
}
/*
#concurso::before{
  content: "";

  width: 200%;
  height: 80%;
  position: absolute;
  transform: rotate(8deg);
  margin: 0 0 0 -10%;
  z-index: -1;
  left: -40%;
}

/*
 * Custom styles
 */
 .navbar a{
   color:black;
 }
.navbar-brand {
    font-family: 'sf_slapstick_comicregular';
    letter-spacing: 0px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 0.7;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.fixed-top.fixed-white {
    background-color: #202020;
    border-color: #080808;
    /*box-shadow: 0 0 5px rgba(0,0,0,.8);*/
}

.navbar.fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    /*box-shadow: 0 0 5px rgba(0,0,0,.8);*/
}
.navbar.fixed-top.fixed-theme ul li a{
    color:white !important;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
    color:white !important;
}
.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.5s;
    -webkit-transition:  0.5s;
}

.nav-item a{
  font-size: 1rem;
}

.dropdown-item.active, .dropdown-item:active{
  text-decoration: none;
  background-color: #f8f9fa !important;
}


.fixed-theme .dropdown-menu{
  background-color: #222;
  border-color: #080808;
}


.fixed-theme .dropdown-item:hover, .fixed-theme .dropdown-item:focus{
  text-decoration: none;
  background-color: #383838;
}


.fixed-theme .dropdown-menu > li:hover{
  text-decoration: none;
  background-color: #383838;
}

/* dropdown submenu */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  /*transform: rotate(-90deg);*/
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 120%;
  left: -2px;
  margin-left: .1rem;
  margin-right: .1rem;
}

/* dropdown submenu */


.card-img-container{
  max-height: 330px;
  overflow: hidden;
}

.instagram_text{
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  /*top: 0;*/
  bottom: 0;
  margin: auto;
  align-items: center;
  text-align: center;
  --animate-delay: 0.5s;
  opacity: 0;
  -webkit-animation: fadeOut 0.1s;
  animation: fadeOut 0.1s;
}
.instagram_card:hover .instagram_text{
  --animate-delay: 0.5s;
  -webkit-animation: zoomIn 0.3s;
  animation: zoomIn 0.3s;
  opacity: 1;
}
.instagram_card:hover .card-img-container img{
  -webkit-filter: grayscale(100%) brightness(0.3); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(0.3);
  transition: all 0.5s ease;
}
.instagram_icon{
  max-width: 30px;
}

.boton_top {
  display: inline-block;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.boton_top:hover {
  cursor: pointer;
}
.boton_top.show {
  opacity: 1;
  visibility: visible;
}
#top_button_2{
  opacity: 1;
  visibility: visible;
  margin-right: 6rem;
}
/*
.slider_1, .slider_2{
  height: 600px;
  width: 100%;
  background-position: center center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.slider_1, .slider_2{
  background-image: url('../img/background_carousel_4.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
.carousel_logo{
  //height: 600px;
  display: inline-grid;
  background-color:  var(--yellow);
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}
.carousel_info{
  height: 600px;
  background-image: url('../img/fondo1_rojo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

.back_amarillo{
  background-color: #f6ed12;
  padding:50px 30px 50px 30px;
  cursor: pointer;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*margin-bottom: 4rem;*/
  margin-top: 15px;
}
/* Since positioning the image, we need to help out the caption
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element
.carousel-item {
  height: 50rem;
}
*/

/*
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50rem;
}
*/


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.hr-sub{
  width: 80px;
  border: 3px solid #df0009;
  margin-bottom: 2rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.fa-stack.icons_seccion2{
  font-size: 4rem;
}

/*---------Countdown-----------*/
#countdown{
    background-color: transparent;
    border-bottom: 4px solid black;
    margin-top: 3rem;
}

.countdown-container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .2);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;
  font-weight: 700;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);*/
	width: 100%;
}

.text .val {
	margin:0;
  font-size: 2.5rem;
}

.text .type-time {
	margin:0;
}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;
	}

}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 0px 30px 0px;
	}
}

.invitado_container, .stand_container{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: auto;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.invitado_container::before, .stand_container::before{
  background-color: rgba(246, 237, 19, .9);
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: 2;
  top: 100%;
  /*transform: rotate(15deg);*/
  -webkit-animation: slideOutDown 0.5s;
  animation: slideOutDown 0.5s;
  margin: 0 0 0 -30%;
}
.stand_container::before{
  margin: 0 0 0 -100% !important;
}
.invitado_container:hover::before, .stand_container:hover::before{
  top:0;
  -webkit-animation: slideInUp 0.3s;
  animation: slideInUp 0.3s;
}

.info_invitado, .info_stand{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  align-items: center;
  text-align: center;
  --animate-delay: 0.5s;
  opacity: 0;
  -webkit-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s;
  z-index: 3;

}
.invitado_container:hover > .info_invitado, .stand_container:hover > .info_stand{
  --animate-delay: 0.5s;
  -webkit-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
  opacity: 1;
}

/*
.card_container{
  position: relative;
  overflow: hidden;
}

.card_container::before{
  background-color: rgba(246, 237, 19, .9);
  content: "";
  position: absolute;
  height: 200%;
  width: 100%;
  left: 100%;
  transform: rotate(30deg);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  margin: 0 0 0 10%;
}
.card_container:hover::before{
  margin: 0 0 0 -30%;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
*/



.social_container a i{
  font-size: 4rem;
}

.page-footer{
  margin-top: 0 !important;
  color:white;
  background-color:#202020;
}

.text-black{
  color: #000 !important;
}
.text-red{
  color: #df0009 !important;
}

.text-yellow{
  color: var(--yellow);
}
.bg-red{
  background-color: #df0009 !important;
  border-color: #df0009 !important;
}


.delay-10ms{
  animation-delay: 300ms;
}


.slider_2 div.row{
  padding-top: 8rem;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* 5 in a row */
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.thumbnail{
  display: block;
  position: relative;
  z-index: 1;
  filter:brightness(60%);
  border-radius: 5px;
}
.play_yutu{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 2;
font-size: 8rem;
color: white;
opacity: 0.9;
}

.button_prog{
  background: #f0e624;
  border-radius: 10px;
  padding: 1rem;
}

.winners .fa-trophy{
  position: absolute;
color: #f6ed12;
font-size: 14rem;
left: 0;
margin: -87px 0 0 -170px;
z-index: -1;
}

.link_topheader{
  cursor: pointer;
  color: white;
}
.bg_header{
  background-color: #222;
  color: white;
}
.top_header a{
  padding-right: 0;
  padding-left: 0;
  width: inherit;
}
.image_slider{
  max-width: 300px;

}
.image_slider_abs{
  max-width: 750px;
  position: absolute;
  margin: -2% 0 0 -30px;
}
.container_saval{
  max-width: 20rem;
}

.sobre_el, .sn{
  font-size: 0.9rem;
}

.btn_charla{
  font-family: 'dimboregular';
  font-size: 1.9rem;
  letter-spacing: 1px;
}

.card_slider{
  text-align: center !important;
  background-color: transparent !important;
  border: 0px !important;
}
.card-text{
  font-size: 1.2rem;
}
.slider_deck{
  max-width: 900px;
  margin:auto;
}

.text_left{
  text-align: left;
}

.news_stand{
  font-family: 'sf_slapstick_comicregular';
  color: #f3e709;
  background: url('../img/background_stands.jpg');
  background-position: inherit;
  background-repeat: no-repeat;
  padding: 5rem;
  margin-bottom: 2rem;
  background-size: cover;
}
.news_stand h1{
  font-size: 3rem;
}
.news_stand span{
  font-size: 2rem;
}

.animate__delay-04s{
  animation-delay: 400ms;
}
.animate__delay-05s{
  animation-delay: 500ms;
}


/*   RESPONSIVE  */
@media(max-width: 540px){
  .slider_2 div.row{
    padding-top: 3rem;
  }
  .logos_top{
    margin-top:-200px;
  }
}

@media (max-width: 767px){

  .carousel_info{
    display: none;
  }
  .slider_1, .slider_2{
    background-position: unset;
  }
  .slider_caption{
    justify-content: center;
  }

  .slider_2 .row .col-md-3 img{
    display: none;
  }
  .slider_2 .row .text_left{
    text-align: center !important;
    margin-top: 20%;
  }

  .slider_4 .row .col-md-8 .card-deck .card img{
    display: none;
  }

  #homenajeados .sobre_el{
    display: none;
  }

  #jurados .sobre_el{
    display: none;
  }
  #internacionales .sobre_el{
    display: none;
  }

  #rel_nac .sobre_el{
    display: none;
  }
  #rel_inter .sobre_el{
    display: none;
  }

  .navbar-brand {
      font-size: 1.7rem;
      font-weight: 700;
  }
  .container_saval{
    display: none;
  }
  .slider_3 .row div{
    text-align: center !important;
  }
  .card_container{
    margin-bottom: 1rem;
  }
  .card_container a img, .card_container img{
    width: 100% !important;
  }
  #auspicio .container-fluid .container .row div:first-child{
    margin-bottom: 2rem !important;
  }
  #subs_button{
    width: 100% !important;
  }
  .stand_container, .card_container{
    margin-bottom: 1rem;
  }
  #carousel_stands .carousel-inner .carousel-item .container .row .col-6{
    padding-left: 5px;
    padding-right: 5px;
  }
  .button_prog{
    text-align: center !important;
    font-size: 0.8rem;
  }
  .winners .fa-trophy{
    display:none;
  }


}

@media (max-width: 991px){

  #homenajeados .sobre_el, #jurados .sobre_el,   #rel_nac .sobre_el, #internacionales .sobre_el{
    display: none;
  }

  #rel_inter .sobre_el{
    display: none;
  }
}
/*   RESPONSIVE  */


.form-control, .form-select, .form-check-input{
  border: 1px solid #999 !important;
}



.slick-prev::before, .slick-next::before{
  color:black !important;
}